// ---------------
// INDIVIDUAL BLOG CSS
// ---------------
.post-header {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}

.author {
  display: inline-block;
}

.tag-list {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3rem;

  li {
    display: inline;
  }

  li:not(:last-child):after {
    content: ', ';
  }
}

.post-body {
  padding-top: 2rem;
	border-top: 1px solid #b58900;

  img {
	  display: block;
  }
}

#bottom-menu {
  max-width: 100px;
  margin: 10px auto;
}

// this is only used in blog so far
h4 {
  border-bottom: 1px solid #eee8d5;
  padding-bottom: 10px;
}

// used in articles index page and individual articles
.article-container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  img {
    width:100%;
    margin: 1rem 0;
  }
}

@media all and (max-width: 1180px) {
  .article-container {
    max-width: 700px;
    padding: 0 1.5rem;
  }
}

// ---------------
// BLOG INDEX PAGE
// ---------------
h2 {
  margin-bottom: 0;
}

h3 {
  opacity: 0.5;
  line-height: 0.5;
  font-size: 1em;
  margin: 0;
}
