<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="theme-color" content="#b58900">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b58900">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon.png">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Stoyan Shukerov" %></title>

    <link href='//fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383764-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111383764-1');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <div class="site">
      <div id="nav">
        <%= link_to 'Home', "/index.html" %>
        <%= link_to 'Blog', "/blog.html" %>
        <%= link_to 'Projects', "/projects.html" %>
      </div>
      <main>
        <%= yield %>
      </main>
      <div id="footer">
        <p>2018 Shukerov</p>
      </div>
    </div>
  </body>
</html>
