
<% blog.articles.each do |article| %>
  <article class="article-container">
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <h3><time><%= article.date.strftime("#{article.date.day.ordinalize} %b %Y") %></time></h3>
    <%= article.summary(210, '...') %>
  </article>
<% end %>
